.kanban-main {
  font: 100% Courier New;
  line-height: 26px;
  background-color: #000000;
  color: #84c754;
  height: 100vh;
}

.title {
  text-align: center;
  font-weight: 700;
}

.add-list-btn {
  text-decoration: none;
  font-size: 1.2rem;
  border: 1px solid rgba(204, 204, 204, 0.275);
  border-radius: 5px;
  padding: 10px;
  color: #ccc;
  transition: 0.5s;
}

.add-list-btn:hover {
  background-color: white;
  color: #000000;
}

.plus-icon {
  font-size: 14px;
}

.all-card {
  column-gap: 10px;
}